/** Base **/
/* Fonts */
@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/oswald/oswald-v49-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 500;
    src: local(""),
        url("../fonts/oswald/oswald-v49-latin-500.woff2") format("woff2");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/oswald/oswald-v49-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Oswald";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/oswald/oswald-v49-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 100;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-100.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 100;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-100italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 200;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-200.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 200;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-200italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 300;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-300.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 300;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-300italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 400;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-regular.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 400;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 500;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-500.woff2") format("woff2");

}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 500;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-500italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 600;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-600.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 600;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-600italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 700;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-700.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 800;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-800.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 700;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-700italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 800;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-800italic.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: normal;
    font-weight: 900;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-900.woff2") format("woff2");
}

@font-face {
    font-family: "Poppins";
    font-style: italic;
    font-weight: 900;
    src: local(""),
        url("../fonts/poppins/poppins-v20-latin-900italic.woff2") format("woff2");
}

/* Reset */
*,
*::before,
*::after {
    box-sizing: border-box;
    font-family: "Poppins";
    margin: 0;
    padding: 0;
}

/* Variables */
:root {
    --black: #000000;
    --blue: #0C9CF0;
    --grey: #3A4750;
    --light-black: #121212;
    --red: #D72323;
    --white: #EEEEEE;
}


/** General **/
body {
    background-color: var(--light-black);
    color: var(--white);
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


/** Components **/
/* Articles */
.list-articles {
    display: flex;
    flex-direction: column;
    gap: 50px 0;
}

.article {
    display: flex;
    flex-direction: column;
}

.article__image {
    height: 225px;
    object-fit: cover;
    width: 100%;
}

.article__title {
    font-size: 24px;
    margin: 10px 0 5px 0;
}

.article__date {
    display: block;
    margin: 10px 0;
}

.article__description {
    text-align: justify;
}

/* Buttons */
.buttons__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px 0;
    margin: 25px 0;
}

.button {
    align-items: center;
    background-color: var(--red);
    border: 1px solid transparent;
    border-radius: 10px;
    color: var(--white);
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    margin: auto;
    text-decoration: none;
    transition: 0.5s;
    width: 250px;
}

.button:hover {
    background-color: var(--blue);
    cursor: pointer;
}

.button--secondary {
    background-color: transparent;
    border-color: var(--red);
    color: var(--red);
}

.button--secondary:hover {
    background-color: transparent;
    border-color: var(--blue);
    color: var(--blue);
}

/* Dividers */
.divider {
    background: var(--white);
    display: block;
    height: 1px;
    margin-bottom: 15px;
    width: 100%;
}

/* Form */
.form__field {
    border: none;
    border-radius: 10px;
    font-size: 16px;
    margin: 10px 0;
    min-height: 50px;
    padding: 10px;
    width: 250px;
}

/* Links */
.link {
    color: var(--blue);
    font-size: 18px;
    text-decoration: none;
    transition: 0.5s;
}

.link:hover {
    color: var(--red);
}

.link--active {
    color: var(--white);
}

/* Movies */
.movies__list {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 15px 0;
    margin-top: 10px;
}

.movie__poster {
    height: 300px;
    object-fit: cover;
    width: 200px;
}

/* Popup */
.popup {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: calc(100vh - 116px - 269px);
}

.popup__content {
    background-color: var(--black);
    border-radius: 10px;
    margin: auto;
    max-width: 800px;
    padding: 15px;
    text-align: justify;
    width: 90%;
}

.popup__header {
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    margin-bottom: 20px;
}

.popup__close {
    font-size: 22px;
    transition: 0.5s;
}

.popup__close:hover {
    color: var(--red);
    cursor: pointer;
}

.popup__title {
    display: block;
    font-size: 24px;
}

/* Text */
.text__paragraph {
    text-align: justify;
}

.text__category {
    display: block;
    font-size: 20px;
    font-weight: bold;
}


/** Layouts **/
/* Header */
.header {
    align-items: center;
    background-color: var(--black);
    display: inline-flex;
    filter: drop-shadow(0px 5px 5px var(--black));
    flex-direction: column;
    gap: 20px 0;
    min-height: 100px;
    padding: 12.5px 25px;
    width: 100%;
}

.header__title {
    font-size: 24px;
    font-family: "Oswald";
}

/* Nav */
.mobile__menu--open {
    font-size: 24px;
}

.menu {
    display: none;
}

/* Main */
.main {
    flex: 1 0 auto;
    padding-bottom: 20px;
}

/* Container */
.container {
    margin: 0 20px;
    padding-top: 20px;
    text-align: center;
    width: calc(100% - 40px);
}

/* Footer */
.footer {
    align-items: center;
    background-color: var(--black);
    display: inline-flex;
    filter: drop-shadow(0px -5px 5px var(--black));
    flex-direction: column;
    gap: 20px 0;
    min-height: 100px;
    padding: 12.5px 25px;
    text-align: center;
    width: 100%;
}

.footer__copyright {
    font-size: 18px;
}


/** Pages **/
/* Accueil */
.home__banner {
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
    width: 100%;
}


/** Responsive **/
@media screen and (min-width: 768px) {

    /** Components **/
    /* Articles */
    .list-articles {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px 50px;
    }

    .article {
        flex: 1 0 calc(50% - 50px * 1 / 2);
    }

    .article__image {
        height: 225px;
        object-fit: cover;
        width: 100%;
    }

    /* Buttons */
    .buttons__list {
        flex-direction: row;
    }

    /* Movies */
    .movies__list {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 15px;
    }

    .movie__poster {
        display: flex;
        flex: 1 0 calc(50% - 15px);
        object-fit: contain;
        width: unset;
    }
}

@media screen and (min-width: 1200px) {

    /** Components **/
    /* Article */
    .list-articles {
        flex-direction: row;
        flex-wrap: wrap;
        gap: 50px 50px;
    }

    .article {
        flex: 1 0 calc(33% - 50px * 2 / 3);
    }

    /* Form */
    .form__newsletter {
        align-items: center;
        display: flex;
        flex-direction: column;
        gap: 0 15px;
    }

    /* Movies */
    .movie__poster {
        flex: 1 0 calc(25% - (15px * 3 / 4));
    }

    /** Layouts **/
    /* Header */
    .header {
        flex-direction: row;
        justify-content: space-between;
        min-height: 100px;
        padding: 12.5px 50px;
    }

    .header__title {
        font-size: 32px;
    }

    /* Nav */
    .mobile__menu--open {
        display: none;
    }

    .menu {
        display: flex;
    }

    .menu__list {
        display: flex;
        gap: 0 35px;
        list-style: none;
    }

    /* Container */
    .container {
        margin: 0 150px;
        width: calc(100% - 300px);
    }

    /* Footer */
    .footer {
        flex-direction: row;
        justify-content: space-between;
        padding: 12.5px 50px;
    }

    /** Pages **/
    /* Accueil */
    .home__banner {
        height: 400px;
    }
}